language: en
pipeline:
- name: SpacyNLP
- name: SpacyTokenizer
- name: SpacyFeaturizer
- name: RegexFeaturizer
- name: LexicalSyntacticFeaturizer
- name: CountVectorsFeaturizer
- name: CountVectorsFeaturizer
  analyzer: char_wb
  min_ngram: 1
  max_ngram: 4
- name: DIETClassifier
  epochs: 150
- name: EntitySynonymMapper
- name: ResponseSelector
  epochs: 150
policies:
- name: MemoizationPolicy
- name: MappingPolicy
- name: FormPolicy
- name: TEDPolicy
  epochs: 100
  max_history: 4
- name: FallbackPolicy
  nlu_threshold: 0.5
  core_threshold: 0.5
  fallback_action_name: action_default_fallback
